* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: sans-serif;
    padding: 1rem;
    background-color: rgb(253, 205, 142);
}

h1{
text-align: center;
margin-top: 1rem;
margin-bottom: 1rem;
color: rgb(102, 5, 120);
}